@import "./bace/reset.scss";
@import "./bace/var";
@import "./bace/common.scss";
@import "./bace/container";
@import "./section/header";
@import "./section/hero";
@import "./section/law";
@import "./section/services";
@import "./section/head";
@import "./section/energy";
@import "./section/contact";
@import "./section/login";
@import "./section/forma";
@import "./section/about";
@import "./section/team";
@import "./section/why";
@import "./section/write";
@import "./section/backdrop";
@import "./section/footer";
