.con {
    padding-top: 70px;
    padding-bottom: 50px;
        background: #1e252b;

            @media screen and (min-width:1280px) {
    padding-top: 115px;
    padding-bottom: 90px;
      }
        

    &__title {
            font-size: 43px;
    line-height: 1.1;
    color: #ff5000;
    font-weight: 900;
    letter-spacing: 2px;
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    gap: 20px;
    }

    &__text {
        color: white;
        font-weight: 800;
                    font-size: 24px;
        margin-top: 34px;
        margin-bottom: 7px;
    }

    &__des {
                    font-size: 18px;
                    font-weight: 700;
        color: white;
            line-height: 1.5;
    }

    &__link {
        color: #ff5000;

    }

    &__box {
        display: block;
        align-items: center;
        justify-content: space-between;

    @media screen and (min-width:1280px) {
        display: flex;
      }
    }
 &__frame {

        background: #1e252b;
        border-radius: 16px;
        border: 5px solid rgba(255, 80, 0, 0.4);
        box-shadow: 0 0 20px rgba(255, 80, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;
        overflow: hidden;

        &:hover {
            box-shadow: 0 0 30px rgba(255, 80, 0, 0.25);
            transform: translateY(-3px);
        }

        @media screen and (min-width:1280px) {
            margin-left: 155px;
        }
    }

    &__fr {
        width: 100%;
        margin-top: 30px;
        border-radius: 12px;
        border: 2px solid #ff5000;
        filter: drop-shadow(0 0 10px rgba(255, 80, 0, 0.25));
        transition: 0.3s ease;

        &:hover {
            border-color: #ff5000;
            filter: drop-shadow(0 0 14px rgba(255, 80, 0, 0.35));
        }

        @media screen and (min-width:780px) {
            margin-top: 0;
            width: 500px;
        }

        @media screen and (min-width:1280px) {
            width: 700px;
        }
    }

    &__imgs {
        width: 40px;
    }

    &__map {
        width: 100%;
        margin-top: 30px;
        height: 360px;
        border-radius: 20px;
        outline: 2px solid white;

                
    @media screen and (min-width:1280px) {
                width: 450px;
                margin-top: 0px;
      }
        
    }
}