.footer {
    background-color: #000;
    border-top: 8px solid #ff5000;
padding-bottom: 20px;
    padding-top: 53px;


    &__wraps {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    &__box {
        width: 200px;
        margin-right: 0px;
        


          @media screen and (min-width:480px) {
        margin-right: 30px;
    }
        @media screen and (min-width:1280px) {
        margin-right: 260px;


    }
    }

    &__names {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    background: linear-gradient(to right, #ffffff 50%, #ff5000 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.3);

    }

    &__text {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        margin-top: 25px;
        margin-bottom: 25px;
        display: block;

    @media screen and (min-width:1280px) {
        margin-bottom: 66px;
    }

    }

        &__texts {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
                margin-bottom: 20px;
        margin-top: 45px;
        display: block;
    }

    &__hiden {
        display: none;
        
    @media screen and (min-width:480px) {
        display: block;
    }
    }

    &__list {
        display: flex;
        gap: 17px;
        align-items: center;
    }



    .footer__list li:nth-child(2) .footer__imgs {
  width: 10px;
  height: 16px;
}

&__link {
    display: flex;
    align-items: center;
    justify-content: center;
        border-radius: 50%;
    border: 1px solid #fff;
    width: 34px;
    height: 34px;
}



&__page {
    font-size: 16px;
        line-height: 1.1;
    color: #ff5000;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Gilroy, sans-serif;
}



&__textings {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;

    @media screen and (min-width:1280px) {
font-size: 16px;
    }
}



.footer__lis:nth-of-type(3) {
    margin-left: 42px;
    margin-right: 42px;
}

.footer__lis:nth-of-type(4) {
    text-align: right;
}



&__bog {
    display: flex;
    gap: 20px;
    justify-content: center;

      @media screen and (min-width:480px) {
        gap: 40px;
    }

}
.footer__bog:nth-of-type(2) {
  margin-left: auto;
  margin-top: 30px;

  @media screen and (min-width:768px) {
  margin-left: 170px;
  margin-top: 30px;
    }

  @media screen and (min-width:1280px) {
  margin-left: 40px;
  margin-top: 30px;
    }
  


@media screen and (min-width:1280px) {
  margin-left: 40px;
  margin-top: 0px;
    }
}

}