.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/electric.jpg);
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(0, 0, 0);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;


    
            @media screen and (min-width:768px) {
    padding-top: 120px;
    padding-bottom: 120px;
    }

    &__title {
     font-weight: 900;
     max-width: 900px;
     width: 100%;
        font-size: 28px;
        line-height: 1.6;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-left: auto;
        margin-right: auto;

            @media screen and (min-width:768px) {
        font-size: 52px;
            }
    }

    &__text {
        color: #fff;
        font-size: 24px;
    line-height: 1.2;
    border: 1px solid #fff;
    border-radius: 11px;
    padding: 5px 35px;
    width: max-content;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 400;

        @media screen and (min-width:768px) {
        font-size: 24px;
    }

        @media screen and (min-width:1280px) {
        font-size: 36px;
    }
    }

    &__box {
        width: 100%;
        background: rgba(0, 0, 0, .5);
        padding: 17px 24px 22px;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 32px;
        border-left: 4px solid #ff5000;
        border-right: 4px solid #ff5000;
        margin-right: auto;
        margin-left: auto;

    @media screen and (min-width:768px) {
        font-size: 23px;
    }

    @media screen and (min-width:1280px) {
        width: 490px;
    }
    }

    &__desc {
        color: #fff;
        margin-bottom: 20px;
        width: 100%;
        font-size: 18px;

            @media screen and (min-width:768px) {
        font-size: 23px;
    }
        
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
    }

    &__item {
        width: 100%;
    @media screen and (min-width:768px) {
        width: 210px;
    }
    }

   &__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 400;
  gap: 10px;
  height: 40px;
  width: 100%;
  background: #665cac;
  transform: scale(1);
  transition: transform 0.3s ease; // Додай плавність

  @media screen and (min-width: 768px) {
    width: 210px;
    gap: 19px;
  }

  &:hover {
    transform: scale(0.9); // ВАЖЛИВО: через `&:hover`, не окремо
  }
}


.hero__list li:last-child .hero__link {
  background: #25a3e1; 
}
    &__img {
        width: 28px;
        height: 28px;
    }
}