// font-family: "Montserrat";

body {
    background: #ffffff;
    font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #d4d4d4 0%, #d4d4d4 100%);
    
    // border-radius: 50px;
}

::selection {
    background-color: gray;
    color: white;
}